.header-container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}
.nav-links-container > ul {
    display: flex;
}

.nav-links-container > ul > li{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

.nav-links-container > ul > button{
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}


.restaurants-container {
    display: flex;
    flex-wrap: wrap;
}

.res-card {
    height: 400px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
}

.res-img {
    width: 100%;
    height: 200px;
}

.shimmer-card{
    height: 400px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
    background-color: lightgrey;
}

.shimmer-ctn {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    display: flex;
}

.user-card {
    height: 400px;
    width: 300px;
    margin: 5px;
    border: 1px solid black;
}

.user-card > img {
    width: 90%;
    height: 50%;
}